*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    height: 310px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.Box {
    width: 75%;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-color: rgb(67, 154, 225);
    padding: 50px;
}

input {

   width: 40%;
   display: block;
   margin: 0 auto;
   padding: 10px;
   font-size: 2rem;
   border-radius: 30px;
   border: none;
}

#Movie-box {
    padding: 20px 0;
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    gap:24px;
    
}

#Movie-box > *{
    width: 25%;
    border: 1px solid rgb(116, 85, 28);
} 

.Movie__card {
    padding: 10px;
    border-radius: 15px;
}